#index_banner {
    /* background-image: url('../../clients/img/booking-cover-3.jpg'); */
    background-image: url("../../img/home/image-home3.jpg");
    background-position: center center;
    background-size: cover;
    height: 100%;
    /* min-height: 60vh; */
    width: 100%;
    /* opacity: 0.5; */
}
.form-search {
    position: relative;
}
.text-title-home {
    color: #ffd142f0;
    font-family: serif;
    font-weight: 500;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #55fff636;
}
.text-title-h4 {
    color: #fffffff0;
    font-family: serif;
    font-size: 25px;
}
.list-hispital-home {
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 1)
    );
    padding-top: 50px;
    padding-bottom: 20px;
}
.padding-style {
    padding: 10px;
}

/* chia tỉ lệ 50/50 khi ở màn mobile */
.col-50nc {
    width: 50% !important;
    padding-right: 5px !important;
    padding-left: 5px !important;
}
/* chia tỉ lệ 50/50 khi ở màn mobile */
.col-33nc {
    width: 33.33% !important;
}
.blog_categorie_area_nc {
    padding-top: 10px;
}
.categories_text-nc {
    font-size: 12px !important;
}
.categories_details {
    top: 15px !important;
    left: 15px !important;
    right: 15px !important;
    bottom: 15px !important;
}
.title {
    font-size: 12px;
}
.price-buy-nc {
    font-size: 10px;
    background: #ff732d;
    color: white;
    padding: 2px;
    padding-left: 4px;
    width: 50px;
    border-radius: 10px;
    text-align: center;
}

.btn-primary {
    background-color: #dd3333;
    border-color: #dd3333;
    border-radius: 10px;
}

.btn-primary:hover {
    background-color: #cb2e2e;
    border-color: #cb2e2e;
}

.offer-image1 {
    background: url(../img/home/giay-kham-suc-khoe-home.jpg) right center
        no-repeat;
    background-size: cover;
    background-position-x: center;
    opacity: 0.5;
}
.offer-image2 {
    background: url(../img/home/bang-tot-nghiep-home.jpg) right center no-repeat;
    background-size: cover;
    background-position-x: center;
    opacity: 0.5;
}
.offer-image3 {
    background: url(../img/home/lam-giay-kham-suc-khoe-uy-tin-o-dau-2.jpg) right
        center no-repeat;
    background-size: cover;
    background-position-x: center;
    opacity: 0.5;
}
.text-titel-nc {
    color: #080f24;
    font-family: serif;
}
