#index_banner {
    /* background-image: url('../../clients/img/booking-cover-3.jpg'); */
      background-image: url('../../img/home/image-home3.jpg');
    background-position: center center; background-size: cover;
    height: 100%;
    /* min-height: 60vh; */
    width: 100%;
    /* opacity: 0.5; */
}
.form-search{
    position: relative;
}
.text-title-home{
    color: #ffd142f0;
    font-family: serif;
    font-weight: 500;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #55fff636; 
}
.text-title-h4{
    color: #fffffff0;
    font-family: serif;
    font-size: 25px;
}
.list-hispital-home{
    background-image: linear-gradient(rgba(255, 255, 255, 0.1),rgba(255, 255, 255, 0.1),rgba(255, 255, 255, 1));
    padding-top: 50px;
    padding-bottom: 20px;
}
.padding-style{
    padding: 10px;
}

/* chia tỉ lệ 50/50 khi ở màn mobile */
.col-50nc{
    width: 50% !important;
    padding-right: 5px !important;
    padding-left: 5px !important;
}
/* chia tỉ lệ 50/50 khi ở màn mobile */
.col-33nc{
    width: 33.33% !important;
}
.blog_categorie_area_nc{
    padding-top: 10px;
}
.categories_text-nc{
    font-size: 12px !important;
}
.categories_details{
    top:  15px !important;
    left:  15px !important;
    right:  15px !important;
    bottom:  15px !important;
}
.title{
    font-size: 12px;
}
.price-buy-nc{
    font-size: 10px;
    background: #ff732d;
    color: white;
    padding: 2px;
    padding-left: 4px;
    width: 50px;
    border-radius: 10px;
    text-align: center;
}

.offer-image1{
    opacity: 0.5;
    background: url(../img/home/giay-kham-suc-khoe-home.jpg) right center no-repeat;
    background-size: cover;
    background-position-x: center;
}
.offer-image2{
    opacity: 0.5;
    background: url(../img/home/bang-tot-nghiep-home.jpg) right center no-repeat;
    background-size: cover;
    background-position-x: center;
}
.offer-image3{
    opacity: 0.5;
    background: url(../img/home/lam-giay-kham-suc-khoe-uy-tin-o-dau-2.jpg) right center no-repeat;
    background-size: cover;
    background-position-x: center;
}
.text-titel-nc {
    color: #080f24;
    font-family: serif;
}
/* title */
@keyframes lights {
    0% {
      color: #ffe600;
      text-shadow:
        0 0 1em hsla(324, 19%, 95%, 0.823),
        0 0 0.125em hsla(320, 100%, 60%, 0.3),
        -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
        1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }
    
    30% { 
      color: hsl(28.06deg 100% 50%);
      text-shadow:
        0 0 1em hsl(330, 100%, 100%),
        0 0 0.125em hsla(320, 100%, 60%, 0.5),
        -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
        0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }
    
    40% { 
      color: hsl(0deg 0% 100%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 90%, 0.5),
        -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
        0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
    }
    
    70% {
      color: hsl(0deg 0% 100%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 60%, 0.5),
        0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
        -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }
    
    100% {
      color: #ffe802;
      text-shadow:
        0 0 1em hsl(319, 17%, 82%),
        0 0 0.125em hsla(320, 100%, 96%, 0.803),
        1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
        -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }
    
  }